<h1>Index</h1>

<% @forums.each do |forum| %>
    <h1><%= link_to forum.title, forum %><br /></h1>
    <p><%= forum.description %></p>
<% end %>

<h3><%= link_to "New Forum", new_mainforum_path %></h3>
